# Froggit Systemd Start Script für f007th-send
# Copy to:        sudo cp f007th-send.service /etc/systemd/system
# Rights:         sudo chmod 755 /etc/systemd/system/f007th-send.service
# Reload:         sudo systemctl daemon-reload
# Enable at boot: sudo systemctl enable f007th-send
# Start/Stop... : sudo systemctl start|stop|status|is-active|... f007th-send

[Unit]
Description=f007th-send server
After=all.target

[Service]
Type=simple
Restart=always
RestartSec=5s
TimeoutSec=1min
User=peter
ExecStart=/home/peter/froggit/f007th-rpi/bin/f007th-send -c /home/peter/froggit/f007th-rpi/bin/f007th-send.cfg

[Install]
WantedBy=multi-user.target

